nav {background-color:#333;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
nav ul{  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content:center;
  flex-wrap:wrap;
}

nav ul li{padding:8px;
  margin: 2px;

}

nav ul li a{text-decoration: none;
  background-color: black;
  color: white;
  padding: 8px;
  border-radius: 5px;
}

li a:hover{background-color: coral;}
footer{text-align: center;
background-color: gray;}