*{margin: 0px;
padding: 0px;
}

body{background-color: #333;
  color: white;
}

header {
  background-image: linear-gradient(to bottom right,
   /* rgb(38, 255, 255), rgb(0, 250, 54) */
   orange,white,green
   );
  padding: 40px;}

header h1 {text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 40px;
text-shadow: 3px 3px 2px black;
color:rgb(91, 154, 236)
 /* #FAF9F6 ; */
}

nav{padding: 15px;}
nav ul{
  justify-content:center;
}
nav ul li{margin: 2px;}


.Group {
width: 80%;
display: block;
margin: auto;
margin-top: 20px;
border-radius: 15px;
padding: 5px;
border: 6px double white;
  }
#about_us h1{text-align: center;
  
}

.about_us{
  background-color: rgba(0, 0, 0, 0.397);
  padding: 10px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10px;
  font-size:1.3em;
  border-radius: 15px;
text-align: center;}

.about_us a{
  color: skyblue;
  font-size: 16px;
}
  .agreement{
    width: 80%;
    display: block;
    margin: auto;
    padding:10px;

  }

  #activity h1{text-align: center;}
  .activity{
    background-color: rgba(0, 0, 0, 0.397);
  padding: 10px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10px;
  border-radius: 15px;
  }
  .activity img{width: 50%;
    margin-top: 5px;
    display: block;
    margin: auto;
    border-radius: 5px;
  }
  @media screen and (max-width:480px) {
    .activity img{ width:90%; }
    
  }
  .activity p{margin-top: 5px;}