*{margin: 0px;
padding: 0px;
}

header {background-color:rgb(17, 124, 143);
padding: 40px;}

header h1 {text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 40px;
text-shadow: 3px 3px 2px black;
color: white;}

nav{padding: 15px;}
nav ul{
  justify-content:center;
}
nav ul li{margin: 2px;}


.Group {
width: 80%;
display: block;
margin: auto;
margin-top: 5px;
border-radius: 15px;
  }
#about_us h1{text-align: center;
  
}

.about_us{
  background-color: rgba(154, 230, 255, 0.753);
  padding: 10px;
  margin: 9px;
  font-size:1.3em;
  border-radius: 5px;}