*{margin: 0px;
padding: 0px;
}

body{background-color: #333;
  color: white;
}

header {background-color:#099FFF;
padding: 40px;}

header h1 {text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 40px;
text-shadow: 3px 3px 2px black;
color: #FAF9F6 ;}

nav{padding: 15px;}
nav ul{
  justify-content:center;
}
nav ul li{margin: 2px;}


.Group {
width: 80%;
display: block;
margin: auto;
margin-top: 5px;
border-radius: 15px;
  }
#about_us h1{text-align: center;
  
}

.about_us{
  background-color: rgba(0, 0, 0, 0.397);
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
  font-size:1.3em;
  border-radius: 5px;
text-align: center;}

.about_us a{color: skyblue;}
  .agreement{
    width: 50%;
    display: block;
    margin: auto;
    padding: 0px;

  }